/* import */
@import "./modules/fonts";
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.25%;
  overflow-x: hidden;
}

body {
  z-index: 0;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

/* link */
.link {
  color: $blueColor;
  transition: color 0.2s;
  text-decoration: none;
  border-bottom: 1px dotted $blueColor;
  position: relative;

  &:hover {
    color: $secondBlueColor;
  }

  &:focus {
    border: 2px dotted $blueColor;
    padding: 0.2rem 1rem;
  }

  &--external {
    display: inline-block;
    margin-right: 1.5rem;
    position: relative;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/arrow-up-blue.svg") no-repeat center/cover;
      position: absolute;
      top: 0px;
      right: -12px;
      transform: rotate(45deg);
    }
  }

  /* skip link for code and table box */
  &--code,
  &--table {
    min-width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }

  /* for skip links (table, map, license) */
  &--hidden {
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    width: 1px !important;
    white-space: nowrap !important;
    text-align: center;
    text-decoration: none;
    &:focus,
    &:active {
      clip: auto !important;
      -webkit-clip-path: none !important;
      clip-path: none !important;
      height: auto !important;
      margin: auto !important;
      overflow: visible !important;
      width: auto !important;
      white-space: normal !important;
    }
  }
}

/* strong */
strong {
  font-weight: 500;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: rgb(11,71,167);
  background: linear-gradient(180deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
  border-radius: 6px;  
}

/* web accessibility */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* skip links */
.skip-links {
  list-style: none;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  color: $blackColor;
  background: $whiteColor;
  border: 2px dotted $blueColor;
  &:focus,
  &:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
  }
}

/* header */
.header {
  padding: 2rem 0 4rem;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    background: rgb(11,71,167);
    background: linear-gradient(90deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}

.header__wrapper {
  @include flex(row, flex-end, space-between);
}

.logo {
  text-decoration: none;
}

/* navigation */
.navigation {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  background: $whiteColor;
  @include flex(column-reverse, center, center);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translateX(100%);
  z-index: 5;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;

  @media screen and (min-width: $largeWidth) {
    height: auto;
    padding: 0;
    background: transparent;
    @include flex(row, flex-start, flex-start);
    visibility: visible;
    transform: translateX(0);
    z-index: 0;
    position: static;
  }
}

.navigation__list {
  width: 100%;
  max-width: 950px;
  min-width: 700px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 5.5rem 0;
  line-height: 2;
  text-align: center;
  z-index: 5;

  @media screen and (min-width: $largeWidth) {
    padding: 0 0.5rem;
    @include flex(row, center, center);
    flex-wrap: wrap;
  }
}

.navigation__link {
  color: $blackColor;
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  position: relative;
  transition: color 0.2s;

  &:hover {
    color: $blueColor;
  }

  &:focus {
    border: 2px dotted $blueColor;
  }

  @media screen and (min-width: $largeWidth) {
    margin-right: 3.6rem;
  }
}

.navigation--active {
  transform: translateX(0px);
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.hamburger {
  width: 50px;
  height: 45px;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  z-index: 6;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  cursor: pointer;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  display: block;

  @media screen and (min-width: $largeWidth) {
    display: none;
  }
}

.hamburger__box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: $blackColor;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: $blackColor;
    position: absolute;
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.hamburger--active {
  background-color: transparent;

  .hamburger__inner {
    background-color: transparent;

    &::before {
      transform: translateY(10px) rotate(45deg);
    }

    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

/* navigation boxes */
.navigation__boxes {
  @include flex(row, center, space-between);
}

.search {
  margin-right: 1.5rem;
}

.search__btn {
  width: 40px;
  height: 40px;
  color: $whiteColor;
  background: $blueColor;
  border: none;
  border-radius: 50%;

  &:focus {
    border: 2px dotted $blueColor;
  }
}

.languages {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 75px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("../img/chevron-down-solid.svg") no-repeat 90% 50%;
}

.languages select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    border: 2px dotted $blueColor;
  }
}

/* hero */
.hero {
  width: 100%;
  padding: 8rem 0;
  margin: 2rem 0;
  background-color: $blueColor;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 5px;
    background: rgb(11,71,167);
    background: linear-gradient(90deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

  &--subpage {
    padding: 2.5rem 0;
  }
}

.hero__wrapper {
  @include flex(column, center, center);
  color: $whiteColor;
  line-height: 1.5;
  text-align: center;
  animation: show 2s linear;
}

/* parallax */
.parallax {
  width: 100%;
  height: 100%;
  position: relative;
}

.layer {
  width: 300px;
  height: 300px;
  background: url("../img/logo-removebg.png") no-repeat center/cover;
  position: absolute;
  filter: brightness(0) invert(1);
  opacity: 0.15;
  transition: transform 1s;
  display: none;

  &--left {
    top: 0;
    margin-top: -100px;
    left: 0;
    margin-left: -50px;
  }

  &--right {
    bottom: 0;
    margin-bottom: -100px;
    right: 0;
    margin-right: -50px;
  }

  &--subpage {
    width: 100px;
    height: 100px;
  }

  &--subpage-left {
    margin-top: -15px;
    margin-left: 150px;
  }

  &--subpage-right {
    margin-bottom: -15px;
    margin-right: 150px;
  }

  @media screen and (min-width: $largeWidth) {
    display: block;
  }
}

/* title */
.title {
  max-width: 600px;
  margin: 0 0 1.5rem;
  font-size: 4rem;  

  &--subpage {
    font-size: 2.5rem;
    margin: 0;
  }

  @media screen and (min-width: $mediumWidth) {
    font-size: 6.5rem;  

    &--subpage {
      font-size: 4.5rem;
    }
  }
}

.title-decoration {
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 2px;
    background: $whiteColor;
    position: absolute;
    top: 50%;
    margin-top: 1px;
  }

  &::before {
    left: -100px;
  }

  &::after {
    right: -100px;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;

  a {
    color: $whiteColor;
    margin-right: 1.5rem;
    border-bottom: 1px dotted $whiteColor;
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/arrow-up-white.svg") no-repeat center/cover;
      position: absolute;
      top: 0;
      right: -10px;
      transform: rotate(45deg);
    }

    &:hover {
      color: $whiteColor;
    }

    &:focus {
      border-color: $whiteColor;
    }
  }

  @media screen and (min-width: $mediumWidth) {
    font-size: 2rem;  

    &--subpage {
      font-size: 1.6rem;
      max-width: 500px;
    }
  }
}

/* section */
.section {
  padding: 3.5rem 0;

  &--gradient-line {
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 5px;
      background: rgb(11,71,167);
      background: linear-gradient(90deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
      position: absolute;
      bottom: -5px;
      left: 0;
    }
  }

  &--decoration {
    position: relative;

    &::after {
      content: "";
      width: 650px;
      height: 650px;
      background: url("../img/logo-removebg.png") no-repeat center/cover;
      position: absolute;
      filter: brightness(0);
      opacity: 0.05;
      right: 25%;
      bottom: -5%;
      z-index: -1;
    }
  }
}

.section__wrapper {
  &--mainpage {
    text-align: center;
  }
}

.text {
  line-height: 1.5;
  font-weight: 400;
  &--mainpage {
    margin-bottom: 5rem;
  }
}

.text__title {
  font-size: 2.5rem;

  @media screen and (min-width: $mediumWidth) {
    font-size: 3rem;
  }
}

.text__paragraph {
  font-size: 1.6rem;

  &--bold {
    font-weight: 500;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

/* social icons */
.social-icons {
  padding: 1.5rem 0;
  @include flex(row, center, center);
}

.social-icon {
  width: 75px;
  height: 75px;
  background: linear-gradient(90deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
  border-radius: 50%;
  @include flex(row, center, center);

  &:first-of-type {
    margin-right: 2rem;
  }

  a {
    width: 65px;
    height: 65px;
    color: $blueColor;
    font-size: 3rem;
    background: $whiteColor;
    border-radius: 50%;
    text-decoration: none;
    @include flex(row, center, center);
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $blackColor;
    }

    &:focus {
      width: 75px;
      height: 75px;
      border: 2px dotted $blueColor;
    }
  }
}

/* list */
.list {
  &--bold {
    font-weight: 500;
  }
}

/* images */
.image {
  width: 100%;
  img {
    width: 100%;
    min-width: 320px;
  }
}

/* button */
.btn {
  min-width: 150px;
  padding: 0.5rem 1.5rem;
  color: $whiteColor;
  background: $blueColor;
  border: 1px solid $blueColor;
  border-radius: 5px;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background: $secondBlueColor;
  }

  &--copy {
    margin: 0.5rem 0;
  }
}

/* code */
.pre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.code {
  min-width: 100%;
  display: inline-block;
  // background: rgba(6, 45, 107, 0.25);
  padding: 1.5rem;
  border-radius: 5px;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  white-space: pre-wrap;

  @media screen and (min-width: $mediumWidth) {
    min-width: 50%;
  }
}

/* gallery */
.gallery-wrapper {
  margin: 2.5rem 0;
}

.gallery { 
  display: flex; 
  flex-direction: column;
  max-width: 450px;
}

.gallery__images {
  display: flex;
  a { 
    max-width: 150px;
    border: 1px dotted $secondBlueColor;
    max-height: 150px;
    flex: 1 1 1%;
    opacity: .3;
    transition: .3s;
    margin: 0 10px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  img {
    width: 100%; 
    height: auto; 
  }
}

.fullimagecontainer {
  margin: 1.5rem 0;
  max-height: 500px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 500px;
  }
}

/* table */
.table {
  margin: 1rem 0;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);

  caption {
    text-align: left;

    @media screen and (min-width: $mediumWidth) {
      text-align: center;
    }
  }

  tr {
    th {
      padding: 0.4rem 2rem;
      background: $blueColor;
      color: $whiteColor;
      font-weight: 500;
    }

    td {
      padding: 0.2rem 2rem;
      font-weight: 400;
      white-space: nowrap;
    }
  }
}


/* footer */
.footer {
  margin-top: 10rem;
  padding: 2rem 0;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 5px;
    background: rgb(11,71,167);
    background: linear-gradient(90deg, rgba(11,71,167,1) 0%, rgba(247,24,29,1) 100%);
    position: absolute;
    top: -5px;
    left: 0;
  }
}

.footer__wrapper {
  @include flex(column, center, center);

  @media screen and (min-width: $mediumWidth) {
    @include flex(row, center, space-between);
  }
}

.copy {
  @include flex(row, center, center);
  img {
    margin-right: 0.5rem;
  }
}

/* animations */
@keyframes show {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

// note
// background
// width: 100%;
// height: 100%;
// background-color: white;
// background-size: 15px 15px;
// background-image: linear-gradient(0deg, rgba(208,208,208,0.3) 10%, transparent 10%),
//   linear-gradient(90deg, rgba(208,208,208,1) 10%, transparent 10%);