// colors
$whiteColor: #fff;
$blackColor: #000;
$blueColor: #0b47a7;
$pinkColor: #f7181d;

// width
$smallWidth: 576px;
$mediumWidth: 768px;
$largeWidth: 992px;
$hdWidth: 1280px;
$fullHdWidth: 1920px;